{
    "overrides": [{
        "files": ["*.tsx", "*.ts", "*.js"],
        "options": {
            "tabWidth": 4,
            "printWidth": 100,
            "jsxBracketSameLine" : false,
            "proseWrap": "always"
        }
    }]
}